*__pycache__*
old
results
suppmatr
test
test_new_params.f90
test_params.f90
*.mod
tmp*
log
*.cpython*
*.pyc
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.ipynb_checkpoints
setuptools-*.zip
.pytest_cache
.vscode/
result_images/
build/
pyforfluids.egg-info/
.github/workflows/coverage.svg
myapp.log
basic.py
*mypy*
build*
*zip
*egg-info
_skbuild
coverage.xml
myapp.log
todo.md
coverage*
.vscode/*
tools
*ipynb_checkpoints*
.tox
docs/project-file
docs/source/beta.png
docs/source/flashes.png
docs/source/isotherm.png
docs/source/lnfug.png
docs/source/ss.png
SoTCourse/Bruno/pyforfluids.ipynb
SoTCourse/Carlos/pyforfluids.ipynb
SoTCourse/Estevao/pyforfluids.ipynb
SoTCourse/Fernanda/pyforfluids.ipynb
SoTCourse/Gustavo/pyforfluids.ipynb
SoTCourse/Jacqueline/pyforfluids.ipynb
SoTCourse/Loreta/pyforfluids.ipynb
SoTCourse/Maiara/pyforfluids.ipynb
SoTCourse/Mario/pyforfluids.ipynb
SoTCourse/Nicolas/pyforfluids.ipynb
SoTCourse/Rodrigo/pyforfluids.ipynb
SoTCourse/Thiago/pyforfluids.ipynb
tutorials/.gdb_history
simple.py
