*__pycache__*
old
results
suppmatr
test
test_new_params.f90
test_params.f90
*.mod
tmp*
log
*.cpython*
*.pyc
basic.py
*mypy*
build*
*zip
*egg-info
_skbuild
coverage.xml
myapp.log
todo.md
coverage*
.vscode/*
tools
*ipynb_checkpoints*
.tox
