include LICENSE
include README.md
include CODE_OF_CONDUCT.md
include requirements.txt
recursive-include pyforfluids *

exclude tox.ini
exclude pyproject.toml
exclude apt.txt

recursive-exclude tests *
recursive-exclude pyforfluids *.mod *.log *.pyc
recursive-exclude docs *
