include LICENSE
include README.md
include requirements.txt
recursive-include pyforfluids *

exclude Makefile
exclude tox.ini
exclude pyproject.toml
recursive-exclude tests *
recursive-exclude pyforfluids *.mod *.log *.pyc
